html {
  height: 100%;
  background-color: #fff;
}
body {
  height: 100%;
}


#weather {
  position: relative;
  background-color: #70adb3;
  height: 100%;

}
header {
  width: 240px;
  position: relative;
  margin: 0 auto;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer a:link {
  color: #333;
  text-decoration: none;
}
footer a:visited  {
  color: #333111;
  text-decoration: none;
}
footer a:hover {
  color: #333777;
  text-decoration: none;
}
footer a:active {
  color: #333777;
  text-decoration: none;
}
#myGeoWeather {
  width: 40px;
  height: 40px;
  background: url(../img/geop.png) no-repeat 50% 50%;
  border-radius: 50px;
  position: absolute;
    top: -2px;
    right: 10px;

}
#search {
  height: 30px;
  position: relative;
}
#choiseCityName {
  height: 30px;
  border: none;
  padding-right: 30px;
}
.dropdown-item > div > strong{
  float: right;
 color: #c1c1c1;
  margin-left: 10px;
}
#getCityWeather {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 28px;
  height: 28px;
  background: url(../img/search.png) no-repeat 50% 50% / 50%;
  padding: 1px 0px;
  background-color: #fff;
  cursor: pointer;
}
#getCityWeather:hover {
  background-color: #e0e0e0;
}
.currentWeather {
  border: 1px solid #fff;
  margin-top: 15px;
  min-height: 95px;
}
#indicators > div{
text-align: center;
height: 20px;

}
#indicators {
  float: left;
  margin-top: 5px;
}
.inputsGroup {
  text-align: center;
  margin-top: 20px;
  padding: 0px;
}
#icon {
  text-align: center;
  float: right;
}
[data-icon]:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
  font-size: 60px;
}
#chart {
  overflow-x: scroll;
  margin-top: 10px;
  border: 1px solid #fff;
  padding: 0;
  /* scroll-behavior: smooth; */
}

#chart canvas {
  width: 800px !important;
  height: 400px !important;
}

.canvasImportant {
  width: 800px !important;
  height: 400px !important;
}
textarea,
input[type='text'],
input[type='button'],
input[type='submit'] {
     -webkit-appearance: none;
     border-radius: 0;
}

@-webkit-keyframes shaker {
	0% { -webkit-transform: translate(2px, 0); }
	50% { -webkit-transform: translate(-1px, 0); }
	100% { -webkit-transform: translate(2px, 0); }
}

.shake {
	-webkit-animation-name: shaker;
	-webkit-animation-duration: 0.1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-timing-function: linear;
  background-color: #c0392b;
}
